body {
    background: url("./index.html");
}
.container {
    background-color: black;
    color: white;
    margin-top: 50vh;
    margin-left: 35vw;
    margin-right: 35vw;
    height: 50vh;
    width: 30vw;
}

.content {
    margin-left: 3rem;
    padding-top: 2rem;
    
}

.content input {
    height: 30px;
}

.content button {
    width: 120px;
    height: 25px;
    background-color: red;
    color: white;
    border: none;
}

.content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 800px) {
    .container {
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
        height: 90vh;
        width: 80vw;
    }
}
